---
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Page</title>
    <link rel="stylesheet" href="../../public/css/global.css" />
  </head>
  <body>
    <Header />
    <div class="container">
      <h1>Hello world!</h1>
      <Button color="purple" label="Click me!" />
      <div class="texts">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At possimus
          illo iure dolores veniam, ratione aliquid vitae, dolor odit enim
          repellendus eligendi expedita nobis eaque quia doloribus sapiente
          aperiam assumenda.
        </p>
      </div>
    </div>
    <Footer />
  </body>
</html>
